%h1 Reset Password
= form_tag password_resets_path, :method => :post do
  .field
    = label_tag :email
    = text_field_tag :email, params[:email]
  .actions= submit_tag "Reset Password", class:'btn btn-primary'

