- cache do
  %section
    .page-header
      %h1 About
    %h2
      What's this all about?
    %p
      Vim is powerful text-editor, designed to be very user-friendly, so long as you're a pro-user.  Short but obtuse key-combos, unintuitive (to most) editing, and arcane configuration.  With experience, though, it can be an excellent tool.
    %p
    %h2
      What's a vimbit?
    %p
      The main way you configure Vim is with a .vimrc file.  The configuration, though, is a language of it's own.  The combinations are endless, and the level of customization you can achieve is one of the strengths of the Vim editor.  A Vimbit is a line or small set of lines that, when put into a vimrc file, perform a certain task: remapping the escape key to something more convenient, limiting line lenght to 80 characters, setting a key combination to toggle whitespace visiblity, etc.
    %h2
      Show me one.
    %p
      Sample Vimbit (credit to 
      %a{href:'http://stevelosh.com/blog/2010/09/coming-home-to-vim/'} Steve Losh
      ) to make the oft-typed colon slightly quicker:
    .bit.example.row
      .span8
        %h3
          Remap ; to :
        %span.email
          %i kevin@example.com
          posted this on
          Febuary 19, 2011
        %p
          %pre.prettyprint.linenums="nnoremap ; : \nvnoremap ; :"
        %p
          The colon is used so frequently that it seems silly not to make it a single key on the home row.  Don't map : back to ;, as it breaks a bunch of plugins.
        %p
          %a.label.label-info.tag{href: '#'} remapping
          %a.label.label-info.tag{href: '#'} common-keys
    %h2 What's this site?
    %p
      The state of the art for finding vimbits seems to be to crawl well-known Vim-ers' public vimrcs on github, or watch for "vimrc" threads on /r/vim, or follow vim-related twitter accounts.  There are plenty of vim resources out there, but most focus on Vim as a whole- the basic commands, the modes of use, plugins, colorschemes, and configuration.  Vimbits is here to focus entirely on that last one- the content of your vimrc.
    %p
      %a{href:'/bits/new'} Share
      your favorite vimbits.
      %a{href:'/bits?sort=new'} Find
      cool new ones.
      %a{href:'/bits?sort=top'} Check
      out the top few and see what you think!
    %h2 Who made this?
    %a{href:'http://kevinkuchta.com'} Kevin Kuchta
    built it in early 2012.  He maintains and runs it as well.
    %h2 I want to help/complain/contact you!
    If you have a quick question, hit me up on
    %a{href:'http://twitter.com/kkuchta'} Twitter.
    If you have an issue with the site, open up a ticket on the
    %a{href:'https://github.com/kkuchta/Vimbits'} Vimbits Github.
    That's also the place to go if you want to contribute a fix, correct spellingmistake, etc.



