// Place all the styles related to the Bits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
  .bit-instructions{
    padding-top:40px;
  }
}
.content{
  .bit{
    .upvote:hover, .downvote:hover{
      opacity:.60;
      cursor:pointer;
    }
    .tag{
      margin-right:5px;
    }
    

  }
  .bit.example{
    margin-left:20px;
  }

  form.tag-search{
    margin-bottom: 50px;
    margin-top:10px;

    .btn[type="submit"]{
      position:relative;
      top:-3px;
      left:-15px;
    }
  }

  .blog{
    .date{
      /*font-size:.65em;*/
      font-style:oblique;
    }
  }

  .bit{
    .header{
      /*height:100px;*/
      position:relative;
      /*text-align:center;*/
      vertical-align:top;

      .vote-box{
        display:inline-block;

        .vote-count{
          text-align:center;
          font-size:1.25em;
        }
      }
      .title{
        display:inline-block;
        vertical-align:top;
        position:relative;
        top:10px;
        margin-left:10px;
        font-size:1.4em;
      }
    }
    .tags{
      margin-bottom:10px;
    }
    .code{
      margin-left:40px;
    }
    .username{
      margin-top:10px;
    }
  }

  #comments{
    list-style:none;
    margin-top:20px;

    .comment{
      .username{
        font-style:oblique;
      }
      .body{

      }
    }
  }
}
