// Place all the styles related to the Bits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
  .bit-instructions{
    padding-top:40px;
  }
}
.content{
  .bit{
    .upvote:hover, .downvote:hover{
      opacity:.60;
      cursor:pointer;
    }
    .tag{
      margin-right:5px;
    }
  }

  #comments{
    list-style:none;
    margin-top:40px;

    .comment{
      .email{
        font-style:oblique;
      }
      .body{

      }
    }
  }
}
